<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="unit">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="America/Sao_Paulo"/>
        <env name="APPLICATION_ENV" value="testing" />
        <const name="TEST_FIXTURE_FOLDER" value="tests/fixtures" />
        <const name="TEST_TABLEROWS_NAMESPACE"  value="SocialBase\Fixtures\TableRows" />
        <const name="TEST_TABLEROWS_FOLDER"  value="tests/fixtures/TableRows" />
        <server name="HTTP_USER_AGENT" value="PHPUnit"/>
        <server name="SERVER_SOFTWARE" value="PHPUnit"/>
    </php>
</phpunit>
